<!-- фони можна брати з сайту fonts google.com -->
<!-- font-family -  -->
<!-- font-family - задає шрифт для тексту  -->
<!-- sans-serif - шрифт  -->
<!-- font-size - розмір шрифту  -->
<!-- line-height - встановлює міжстроковий відступ  -->
<!-- margin - встановлює зовнішні відступи навколо елемента, можна за зразком написати для всіх елементів сторінки через - *, для before  і after  -->
<!-- *, -->
<!-- *:before, -->
<!-- *:after -->
<!-- box-sizing - дозволяє змінити алгоритм розрахунку розмірів  блоку -->
<!-- border-box - рамка меж -->
<!-- container - , width - вид, max-width - максимум, margin - вирівнюємо по центру -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	font-size: 15px;
	line-height: 1.6;
	color: #333;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}